<% if current_user %>
  <h1>Welcome!</h1>
  Signed in as <strong><%= current_user.name %></strong>!
  <%= link_to "Sign out", signout_path %>
<% else %>
  <h1>Sign in</h1>
  <%= link_to "Sign in with Facebook", signin_path %>
<% end %>

<ul>
<% flash.each do |key, msg| %>
  <%= content_tag :li, msg, id: key %>
<% end %>
</ul>
