<h1>Sign in</h1>

<ul>
<% flash.each do |key, msg| %>
  <%= content_tag :li, msg, id: key %>
<% end %>
</ul>

<% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path %>
<% else %>
    <%= link_to "Sign in with Facebook", signin_path %>
<% end %>
